<h1>New Deposite And Withdrawal Category</h1>

<%= render 'form', deposite_and_withdrawal_category: @deposite_and_withdrawal_category %>

<%= link_to 'Back', deposite_and_withdrawal_categories_path %>
