<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deposite_and_withdrawal_category.name %>
</p>

<%= link_to 'Edit', edit_deposite_and_withdrawal_category_path(@deposite_and_withdrawal_category) %> |
<%= link_to 'Back', deposite_and_withdrawal_categories_path %>
